<section class="orders light-section">
    <div class="container mx-auto pt-12">
        <h1 class="font-bold text-lg mb-4">All Certificate Requests</h1>
        <table class="w-full table-auto bg-white">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left">Society Name</th>
                    <th class="px-4 py-2 text-left">Society Address</th>
                    <th class="px-4 py-2 text-left">Secretary No</th>
                    <th class="px-4 py-2 text-left">Worker Name</th>
                    <th class="px-4 py-2 text-left">Worker No</th>
                    <th class="px-4 py-2 text-left">Status</th>
                    <th class="px-4 py-2 text-left">Requested At</th>
                </tr>
            </thead>
            <tbody id="certificateTableBody">
            </tbody>
        </table>
    </div>
</section>