<div class="contact-info pb-32">
    <div class="contact-d flex">
    <div class="contact_detail">
        <!-- <img src="/images/telephone.png" class="h-20 w-20"> -->
        <!-- <p>Interested inour mission? Just pick up the phone to chat with a member of our team.</p>         -->
    </div>
    <div class="contact_detail">
        <!-- <img src="/images/gmail.png" class="h-20 w-20"> -->
        <!-- <p>Interested inour mission? Just pick up the phone to chat with a member of our team.</p>         -->
    </div>
    </div>
</div> 