<div class="first-p flex items-center justify-between">
    <div class="first-p-text ml-40">
        <h1 class="text-4xl">NO MORE PLASTIC</h1>
        <h2 class="text-2xl">Help us to make surat a plstic free city</h2>
        <p>This portal is to help you to request for plastic free certificate and to complain illegal plastic consumption anonymously Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <button class="bg-black	 hover:bg-white text-white font-semibold hover:text-black py-2 px-6 hover:border-transparent rounded-full">Certificate</button>
        <button class="bg-black	 hover:bg-white text-white font-semibold hover:text-black py-2 px-6 ml-6 mt-8 hover:border-transparent rounded-full ">Complain</button>
    </div>    
    <div>
        <img src="/images/front.png" class="mr-40">
    </div>
</div>