<div class="third-p-heading"><h1 class="text-6xl ">--- OUR MISSION ---</h1></div>
<div class="px-8 pb-16">
    <div class="flex pb-4">
        <div class="">
            <img src="/images/our_m_1.jpeg" class="our_img shadow-lg">
        </div>
        <div class="pl-8">

            <p class="text-justify"><f class="font-bold text-5xl">A</f><f class="text-xl">mong Asian countries India ranks third after Bangladesh and Pakistan among the most polluted according to the World Health Organisation (WHO) air quality analyses. In India most plastic polluted city were  Bhiwadi and state were Rajasthan.One of the city of india which was surat,In Surat the waste generated has come down from 2,200 tonnes on an average daily to 1,500 tonnes.Surat is one of the four cities in the country where plastic waste management centers are being set up
                by the union government with a basic grant of Rs6 crore for each center.The other three cities are Banaras,Bengaluru,and Patna.Surat produces nearly 1,800 MT of solid waste daily and nearly 10 percent of it is plastic waste.
            </f></p></div>
    </div>
    <div>
        <p class="text-justify text-xl">It also recycles
            nearly 35 tonne plastic at its plant at bhatar."This new plastic waste management centre will handle all activities related to reducing the harmful effects of plastic waste in the environment,"said a senior Surat Municipal Corporation official.
           So,now to overcome this problem We are using technology to make Surat A Plastic Free City, We will make disposal and recycling of plastic centralized and more efficient. Illegal Plastic Consumption will be reported by aware citizens of Surat on
            which officials can take further actions. Irregularities of sanitary/cleanliness workers will be able to track easily and actions on them can be taken accordingly. A centralized certificate system will help manage societies and keep a check on
            commercial whether they are abiding by environment friendly practices.We will be developing a portal where the vision and mission of SMC to make Surat A Plastic Free City will be stated very clearly! Contact details of authorized producers/retailers
            of plastic alternatives will be made available. We will also make a form where citizens can complain about illegal plastic consumption. A mechanism for society and commercial organizations where they need to request a certificate of Plastic Free which 
           will then be sent to a particular Agent/SMC  who will do the required checks and approve their request from the admin panel. Admin panel will be of 2 types one for recycling company and one for agent/SMC who will enter data daily about the collection of 
           plastic waste. This data will be then reported to the plastic recycling company so they can know the approximate expected plastic for the day/week. Also the admin panel for SMC/Agent will have complains from citizen regarding irregularities of cleanliness/sanitary workers.
           <p class="text-justify text-xl pt-4">Possible outcome of our work
           The web portal will be responsible for the city's whole plastic management. The citizens will have access to it and can complain about illegal plastic consumption. Moreover, commercial business holders and societies will have to submit a request to get a 
           Plastic Free Society Certificate which will be then authorized/approved by SMC or SMC-appointed contractors who will have access to the admin panel where they will record the daily waste collection by the sanitary workers from the society and work on complaints 
           from a citizen regarding irregularities of sanitary/cleanliness workers collection or illegal plastic consumption by shops or personals. Resulting to this, every plastic consumed will be recycled and disposed off in a right manner and thus making the city plastic free indeed.</p>
        </p>
    </div>
</div>
</div>