<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Contact Num.</th>
        <th scope="col">Deals With</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Larry</td>
        <td class="w-50">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</td>
        <td>xxxxxxxxxx</td>
        <td>Lorem,ipsum,dolor,sit</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Larry</td>
        <td class="w-50">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</td>
        <td>xxxxxxxxxx</td>
        <td>Lorem,ipsum,dolor,sit</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td class="w-50">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</td>
        <td>xxxxxxxxxx</td>
        <td>Lorem,ipsum,dolor,sit</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Larry</td>
        <td class="w-50">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</td>
        <td>xxxxxxxxxx</td>
        <td>Lorem,ipsum,dolor,sit</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Larry</td>
        <td class="w-50">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</td>
        <td>xxxxxxxxxx</td>
        <td>Lorem,ipsum,dolor,sit</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Larry</td>
        <td class="w-50">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</td>
        <td>xxxxxxxxxx</td>
        <td>Lorem,ipsum,dolor,sit</td>
      </tr>
      

    </tbody>
  </table>